{% extends 'base_consumer.template.html' %}
{% load cloudinary %}

{%block title%}
the new sole
{%endblock%}

{% block content %}



<div class="container px-5">
    <h1 class="header">Shopping cart</h1>
    
    <p class="mt-4"><a href="{% url 'consumer_page' %}" onclick="showDiv()"><i class="bi bi-arrow-left-short"></i>&nbsp;Continue Shopping</a></p>
    
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 mt-3">
    
        {% for key, i in cart.items %}

        <div class="col mt-3 px-5">
            {% cloudinary i.image alt="shoe" width=300 height=180 crop='fill' %}
        </div>
        <div class="col mt-3 px-5">
            <p class="shoeModel">{{i.shoeModel}} </p>
            <p class="model mr-3">Size: {{i.shoe_size}}</p>
            <p class="model">Quantity: {{i.qty}}</p>
            <p class="input-group-text mt-2">${{i.price}}</p>
            <p class="mt-4"><a href="{% url 'remove_from_cart' shoe_id=i.id%}" disabled class="text-muted" onclick="showDiv()">Remove</a></p>

        </div>
        <!-- <div class="col"></div> -->
        <div class="col mt-3 px-5" style="background-color: lightgray"><h5 class="header-cart mt-3">Summary</h5>
            <table style="width:100%">
                <tr>
                    <td><small>Subtotal</small></td>
                    <td><span class="input-group-text">${{grand_total_price|floatformat:2}}</span></td>
                </tr>
                <tr>
                    <td colspan="2"><small>*Tax included and shipping calculated at checkout</small></td>
                </tr>
                <tr>
                    <td><small style="font-weight:700">TOTAL</small></td>
                    <td><span class="input-group-text">${{grand_total_price|floatformat:2}}</span></td>
                </tr>
                <tr>
                    <td></td>
                    <td><a class="btn" href="{% url 'checkout' %}" role="button">Checkout</a></td>
                    </tr>
        {% endfor %}
            </table>
        </div>
        
    </div>
</div>

{% endblock %}