{% extends 'base.template.html' %}
{% load cloudinary %}
{% load crispy_forms_tags %}

{% load static %}
{%block title%}
Cart
{%endblock%}

{%block content %}

{%for key, item in cart.items %}
<div class="card">
    <div class="card-title">{{item.shoeModel}}</div>
    <div class="card-body">
        {% cloudinary shoe.image width=285 height=300 crop='fill' %}

        <form method="POST" action="{% url 'edit_cart' shoe_id=item.shoe_id %}">

            {%csrf_token%}
            Quantity:<input name="qty" type="text" value="{{item.qty}}" style="width:20px">
            <input type="submit" class="btn btn-primary btn-sm" value="Update Quantity" />
        </form>
        <p>Cost: {{item.price}}</p>
        <a class="btn btn-danger btn-sm" href="{% url 'remove_from_cart' shoe_id=item.shoe_id %}">Remove</a>
    </div>
</div>
{%endfor%}

{%endblock%}