{% extends 'base.template.html' %}
{% load cloudinary %}
{% load crispy_forms_tags %}
{% load static %}

{%block title%}
the new sole
{%endblock%}

{% block content %}
<div class="container" id="popular">
    <h1 class="header"></h1>

    <form method="GET" >
        {{search_form|crispy}}
    </form>
            <div class="col mt-5">
            <a href="{% url 'create_shoe' %}" class="card-link">Add Shoe</a>
        </div>

    <div class="row">
        {% for shoe in shoes %}
        <div class="col-lg-4 mt-5">
            <div class="card" style="width: 18rem">

                {% cloudinary shoe.image width=286 height=300 crop='fill' %}
                <div class="card-body">
                    <p class="model">{{shoe.brand_name}}</p>
                    <p class="model">{{shoe.shoeModel}}</p>
                    <p class="price">${{shoe.price}}</p>
                    <p class="color">{{shoe.color}}</p>
                    <p class="size">Size: {{shoe.shoe_size}}</p>
                    <small class="availability">{{shoe.shoeAvail}}</small>
                    <small class="releaseDate">{{shoe.releaseDate}}</small>
                    <br />
                    <br />
                    <p>
                        <a class="btn mr-2" href="{% url 'consumer_shoe_info' shoe_id=shoe.id %}" role="button">See more &raquo;</a>
                        <a class="btn" href="{% url 'add_to_cart' shoe_id=shoe.id %}" role="button">Add to cart &raquo;</a>
                        
                        <a class="btn mr-2 mt-2" href="{% url 'shoe_update' shoe_id=shoe.id %}">Edit</a>
                        <a class="btn mr-2 mt-2" href="{% url 'delete_shoe' shoe_id=shoe.id %}">Delete</a>
                    </p>
                </div>
            </div>

        </div>
        <!-- /.col-lg-4 -->
        {% endfor %}

        <!-- /.row -->
    </div>
</div>

{% endblock %}