{% extends 'base.template.html' %}
{% load cloudinary %}
{% load crispy_forms_tags %}

<!-- product specs -->
<div class="container mt-5" id="productSpecs">
    <div class="row mb-3">
        {% block content %}

        <div class="col-md-8 themed-grid-col">
            <div class="pb-3">
                {% cloudinary shoe.image width=650 height=500 crop='fill' %}
            </div>
        </div>
        <!-- insert product info -->
        <div class="col-md-4 themed-grid-col">
            <small class="availability">{{shoes.shoeAvail}}</small>
            <br>
            <br>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <p class="model">{{shoe.shoeModel}}</p>
            <p class="price">${{shoe.price}}</p>
            <br>
            <p class="mb-1">Select size</p>
            <div class="row mb-2" id="tableSize">
                <div class="col-3 themed-grid-col">
                    <a class="btn" href="#" role="button" id="eachSize">{{shoe.shoe_size}}</a>
                </div>
            </div>
            {% for t in shoe.tags.all %}
            <p class="model">Tags: {{t.shoeModel}}</p>
            {% endfor %}

            <a class="btn" href="#" role="button">Add to cart &raquo;</a>

        </div>
        <!-- end product info -->



    </div>
</div>
<!-- end product specs -->

<hr class="mt-5" style="width:100%">


<!-- you might also like -->
<div class="container mt-5">
    <h1 class="header">You might also like</h1>
    <!-- Three columns of text below the carousel -->
    <div class="row">
        {% for shoe in shoes %}
        <div class="col-lg-4 mt-5">
            <div class="card" style="width: 18rem">

                {% cloudinary shoe.image width=285 height=300 crop='fill' %}
                <div class="card-body">
                    <p class="model">{{shoe.brand_name}}</p>
                    <p class="model">{{shoe.shoeModel}}</p>
                    <p class="price">${{shoe.price}}</p>
                    <p class="color">{{shoe.color}}</p>
                    <p class="size">Size: {{shoe.shoe_size}}</p>
                    <small class="availability">{{shoe.shoeAvail}}</small>
                    <small class="releaseDate">{{shoe.releaseDate}}</small>
                    <br />
                    <br />
                    <p>
                        <a href="{% url 'view_shoe_info' shoe_id=shoe.id %}">See more</a>
                    </p>
                </div>
            </div>
        </div>
        <!-- /.col-lg-4 -->
        {% endfor %}
        <!-- /.row -->
    </div>
    <!-- /.row -->
</div>
<!-- end you might also like -->
<hr class="mt-5" style="width:100%">


<!-- rating and review -->
<div class="container">
    <h1 class="header mt-5">Ratings & Reviews</h1>
    <div class="review">
        <div class="media-body">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <h5 class="text-uppercase">love them</h5>
            <p>Runs a little big so go down a half size. I have wide feet and they are super comfortable.</p>
            <small class="text-muted">USER123</small>
        </div>
    </div>
    <hr style="width:100%">
    <div class="review">
        <div class="media-body">
            <div>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
            </div>


            <h5 class="text-uppercase">worth the purchase!</h5>
            <p>The quality is good and i love the design!</p>
            <small class="text-muted">USER321</small>
        </div>
    </div>
    <hr style="width:100%">
    <div class="review">
        <div class="media-body">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <h5 class="text-uppercase">Great Shoes!</h5>
            <p>Its very comfy. The price is reasonable.</p>
            <small class="text-muted">SHOE FANATIC</small>
        </div>
    </div>
    <div class="review">
            <h1 class="header mt-5">Write a review</h1>

        <form method="POST" action="{% url 'write_review_route' shoe_id=shoe.id %}">
            {% csrf_token %}
            {{ form|crispy}}
            <input type="submit" />
        </form>
    </div>


    <!-- <p class="mt-5">
        <a class="btn" href="#" button>Write a review</a>
    </p> -->
</div>
<!-- end rating and review -->
{% endblock %}