{% extends 'base.template.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load cloudinary %}


{% block content %}
{% for newShoe in newShoes %}

<div class="col-lg-4 mt-5">
    <div class="card" style="width: 18rem">
        <div class="coming-soon">
            <p>COMING SOON</p>
            <p style="font-size: 1.5em">{{newShoe.releaseDate}}</p>
        </div>

        <img src="../static/shoe1.png" class="card-img-top" alt="shoe1" />
        <div class="uploaded_info_folder">

        </div>
        <div class="card-body">
            <p class="model">{{newShoe.brand_name}}</p>
            <p class="model">{{newShoe.shoeModel}}</p>
            <p class="price">${{newShoe.price}}</p>
            <p>
                <a class="btn" href="#" role="button">Set reminder &raquo;</a>
                <a href="{% url 'newshoe_update' newShoe_id=newShoe.id %}">Edit</a>
                <a href="{% url 'delete_newshoe' newShoe_id=newShoe.id %}">Delete</a>
            </p>
        </div>
    </div>
</div>
<!-- /.col-lg-4 -->
{% endfor %}
{% endblock %}