@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Open+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 375px) {
  *, .card-title, .card-text, .card-link, .header, .nav-link, .welcome {
    font-size: small;
    box-sizing: border-box;
    align-items: top;
  }
}

#main-text {
  margin: auto;
  padding: auto;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 10%;
}

.btn-cart {
  background-color: white;
  border: none
}

.btn-cart:focus {
  outline: none;
}

.btn {
  border-radius: 0px;
  border: dotted 1px;
}

.btn:hover {
  border-radius: 0px;
  background-color: black;
  color: whitesmoke;
}

.header, h2 {
  font-family: "Abril Fatface", cursive;
}

#mediumthumbnail {
  width: 25%;
  height: 15%;
}

#smallthumbnail {
  width: 10%;
  height: 5%;
}

.navbar-brand {
  font-family: "Abril Fatface", cursive;
  font-size: 2rem;
}

.model {
  font-family: "Open Sans", sans-serif;
  font-size: small;
  font-weight: 400;
}

.shoeModel {
  font-family: "Open Sans", sans-serif;
  font-size: x-large;
  font-weight: 700;
}

.price  {
  font-family: "Open Sans", sans-serif;
  font-size: xx-large;
  font-weight: 700;
}

.availability {
  border-radius: 0px;
  background-color: black;
  padding: 5px;
  margin: 1px;
  color: antiquewhite;
}

.badge [href]{
    color: white;
    align-content: center;
    padding: 0 5px;
    vertical-align: center;
    border-radius: 10px;
    margin-left: -3px; 
}

.badge-warning {
    background-color: black;
}

.releaseDate {
  border-radius: 0px;
  padding: 5px;
  margin: 1px;
  color: black;
  text-decoration: underline;
  font-weight: 700;

}

.p, .header-cart, .input-group-text, .date  {
  font-family: "Open Sans", sans-serif;
  color: black;
  font-weight: 700;
}

.main-text-card {
    font-family: "Open Sans", sans-serif;
    font-size: medium;
    margin: 1px;
    padding: 5px;
}

.input-group-text  {
  font-family: "Open Sans", sans-serif;
  color: black;
  font-weight: 700;
  font-size: large;
}

.remove, #model {
  font-family: "Open Sans", sans-serif;
  color: black;
}

.remove {
  text-decoration: underline;

}

#eachSize {
  font-size: smaller;
  margin: 6px;
  border: none;
}

#eachSize:hover {
  border-radius: 0px;
  background-color: lightgray;
}

#nextBtn {
  color: black;
  border-style: solid 1px;
}

#tableSize {
  text-align: center;
}

#grid {
  border: solid 1px;
}

.btn-sm {
  background-color: white;
  border: solid 1px black;
  color: black;
}

.cart-price, #size, .input-group{
  align-items: center;
}

#summary-cart {
  background-color: rgb(248, 246, 246);
  padding: 3%;
}

.card {
    font-family: "Open Sans", sans-serif;
    position: relative;
    border: none;
    margin-top: 15%;
}

.media {
    padding: 3%;
}

.coming-soon {
    margin: 0;
    padding: 3%;
    text-align: center;
    background-color: black;
    color: white;
    width: 18rem;
}

table, th, td {
  border: 0, 0, 1px, solid black;
  border-collapse: collapse;
}

th, td {
  padding: 15px;
}

#heroTxt {
  color: aliceblue;
  position: absolute;
  left: 20vw;
  top: 30vh;
}

.shop-now {
    color: white;
    font-size: medium;
}

.shop-now:hover {
  color: rgb(139, 139, 139);
  text-decoration: none;
}

@media (max-width: 375px) {
  #heroTxt {
    font-size: small;
    box-sizing: border-box;
    align-items: top;
  }
}
